<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Proxy server for ITILv4</h1>

    <h2>Scanner</h2>   
    <h2></h2>   

    <h2>Corrector</h2>   
    <h3>UNIX Server information gethering</h3>
    <h3>Linux Server information gethering</h3>
    <h3>Network device information gethering</h3>
    <h3>Cloud configuration information gethering</h3>

    <div class="print"> {{value}}를 전달받았습니다. </div>
        <h3>
            <form action="\post" method="post" class="input-form">
                <textarea type="text" name='id_name' value="tmp tmp tmp" class="input-text"></textarea>
                <input type="submit" value="submit" class="input-btn">
            </form>
        </h3>

    <h2>Parser</h2>   
    <h3>알고리즘 찾을것</h3>
    <h3>모델링</h3>
    <h2></h2>   
    <h2>Loader</h2>   
    <h3>mysql에 적재</h3>
    



    





</body>
</html>